.bg-imageContact{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(2, 62, 121, 0.2), rgba(11, 10, 10, 0.3)), url('../../../public/images/3d101a32-ddba-4faa-ac2d-2012f486f06a.jpeg');
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}