.bg-image{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(16, 87, 125, 0.7), rgba(6, 47, 69, 0.3)), url('../../../public/images/b8882b7b-aa16-41a6-ad0b-268dfd6a0cad.jpeg');
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.b-image{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(16, 87, 125, 0.7), rgba(6, 47, 69, 0.3)), url('../../../public/images/902e4e6d-5260-445f-85e2-89f5deb55f27.jpeg');
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}